openapi: 3.1.0
info:
  title: OPEN RAMBO Issuing API
  version: 1.0.0
  description: Partner API for card products, issuance, funding, controls, and transaction records.
servers:
  - url: https://openrambo.com/api/issuing/v1
security:
  - ApiKey: []
paths:
  /products:
    get:
      summary: List available card products
      operationId: listProducts
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /cards:
    get:
      summary: List partner cards
      operationId: listCards
      responses:
        '200': { $ref: '#/components/responses/Success' }
    post:
      summary: Create a card
      operationId: createCard
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [productId, firstRechargeAmount]
              properties:
                productId: { type: string, description: Product ID returned by GET /products }
                firstRechargeAmount: { type: number, minimum: 10, description: Initial card load in USD; the product may require a higher minimum }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '400': { $ref: '#/components/responses/Error' }
  /cards/{id}:
    get:
      summary: Get card status and balance
      operationId: getCard
      parameters:
        - $ref: '#/components/parameters/CardId'
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '404': { $ref: '#/components/responses/Error' }
  /cards/{id}/topup:
    post:
      summary: Fund a card from the partner wallet
      operationId: topupCard
      parameters:
        - $ref: '#/components/parameters/CardId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { type: number, minimum: 10, description: Amount in USD }
      responses:
        '200': { $ref: '#/components/responses/Success' }
        '400': { $ref: '#/components/responses/Error' }
  /cards/{id}/freeze:
    post:
      summary: Freeze a card
      operationId: freezeCard
      parameters: [{ $ref: '#/components/parameters/CardId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /cards/{id}/unfreeze:
    post:
      summary: Unfreeze a card
      operationId: unfreezeCard
      parameters: [{ $ref: '#/components/parameters/CardId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /cards/{id}/close:
    post:
      summary: Close a card
      description: Card closure is asynchronous. Card balance is not withdrawable through this operation.
      operationId: closeCard
      parameters: [{ $ref: '#/components/parameters/CardId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '200': { $ref: '#/components/responses/Success' }
  /cards/{id}/transactions:
    get:
      summary: List issuer-side card transactions
      operationId: listCardTransactions
      parameters:
        - $ref: '#/components/parameters/CardId'
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: page_size, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
      responses:
        '200': { $ref: '#/components/responses/Success' }
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
  parameters:
    CardId:
      name: id
      in: path
      required: true
      schema: { type: string }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Unique key, up to 120 characters. Reuse the same key only when retrying the same operation.
      schema: { type: string, maxLength: 120 }
  responses:
    Success:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            properties:
              ok: { type: boolean, const: true }
              data: {}
    Error:
      description: Request error
      content:
        application/json:
          schema:
            type: object
            properties:
              ok: { type: boolean }
              message: { type: string }
              error:
                type: object
                properties:
                  code: { type: string }
                  message: { type: string }
